<div id="footer">
	<div class="wide_container">
		<p class="float_right">
			<%= link_to "Remetric<b>HD</b>: $750/yr".html_safe, "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UPE2M95QCEET6" %>
		</p>
		
		<p class="float_left">
			<%= Time.zone.now.strftime("%a, %b %-d - %k:%M:%S %Z") %>
		</p>
		
		<p class="align_center">
			<%= link_to "Remetric v0.0.5", "https://github.com/dallas22ca/remetric" %>
		</p>
		
		<div class="clear"></div>
	</div>
</div>