<div id="footer">
	<div class="wide_container">
		<p class="float_right">
			&copy; 2014 Remetric.com.
		</p>
		
		<p class="float_left">
			<%= Time.zone.now.strftime("%a, %b %-d - %k:%M:%S %Z") %>
		</p>
		
		<p class="align_center">
			<%= link_to "Remetric v#{Remetric::VERSION}", "https://github.com/dallas22ca/remetric" %>
		</p>
		
		<div class="clear"></div>
	</div>
</div>