<ul class="nav">
	<li><%= link_to "Newsfeed", events_path, class: "#{"selected" if request.path == events_path}" %></li>

	<% @trackable_models.each do |model| %>
		<li><%= link_to model.pluralize.capitalize, trackables_path(model.downcase.pluralize) %>
	<% end %>

	<li><%= link_to "Settings", settings_path, class: "#{"selected" if request.path == settings_path}" %></li>
</ul>