<% cache event do %>
  <tr>
		<td><%= event.linked_story.html_safe %></td>
		<td style="display: none; "><%= event.to_json %></td>
		<td><%= link_to "&rarr;".html_safe, event %></td>
  </tr>
<% end %>