.topbar_placeholder {
  position: relative !important;
  visibility: hidden;
}

.topbar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	border-bottom: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	z-index: 999;
	
	#loading_logo {
		display: none;
	}
	
  #loading_logo img, #logo img {
    display: inline-block;
    margin-right: 39px;
    margin-top: 5px;
    float: left;
  }
	
  .nav {
    color: #777;
    font-size: 17px;
		
    li {
      display: inline-block;
			
      a {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 2px;
        border-radius: 4px;
				
        &.selected {
          color: #fff !important;
          font-weight: 600;
          background: #8F000C !important;
        }
				
        &:hover {
          color: #8F000C;
          background: #F4F4F4;
        }
      }
    }
  }
}