.topbar_placeholder {
  position: relative !important;
  visibility: hidden;
}

.topbar {
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	border-bottom: 1px solid #ddd;
	z-index: 999;
	padding: 10px 0px;
	margin-bottom: 20px;
	
	#loading_logo {
		display: none;
	}
	
  #loading_logo img, #logo img {
    display: inline-block;
    margin-right: 39px;
    margin-top: 5px;
    float: left;
  }
	
  .nav {
		float: right;
    color: #777;
    font-size: 15px;
		margin-right: -4px;
		
    li {
			float: left;
			
      a {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 4px;
        border-radius: 4px;
				color: #111;
				font-weight: 200;
				
        &.selected {
          color: #fff !important;
          background: #8F000C !important;
        }
				
        &:hover {
          color: #8F000C;
					background: #fff;
        }
      }
    }
  }
}