.table {
	margin: 20px auto;
	width: 100%;
	background: #eee;

	td, th {
		padding: 8px;
		text-align: left;
	}
	
	td {
		a {
			font-weight: 200;
			color: #333;
			display: block;
		}
	}
	
	th {
		background: #777;
		color: #fff;
		font-size: 13px;
		text-transform: uppercase;
	}
}